:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --nav-link-color: #000000;
  --icon-fill: #000000;
}

.dark {
  --background-color: #0d0950;
  --text-color: #ffffff;
  --nav-link-color: #ffffff;
  --icon-fill: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-links a {
  color: var(--nav-link-color);
}


/* .fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  */
