---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Projectcard from "@components/projectcard.astro";

const completed_projects = [
  {
    name: "Trapper Keeper",
    github: "https://github.com/Nerajno/Trapper_Keeper-v1",
    website:"https://trapper-keepr.fly.dev/",
    description: "A Rails SPA app that helps the user create a CRUD-style address book containing their friends.",
    image: {
      src: "https://images.pexels.com/photos/27776677/pexels-photo-27776677/free-photo-of-uluyayla.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
      alt: "Project 1",
      link: "https://github.com/Nerajno/Trapper_Keeper-v1",
    },
    tags: [
      "Rails",
      "CRUD",
      "Ruby"
    ],
    lastUpdated: "2022-01-01",
  },
  {
    name: "Trapper Keeper",
    github: "https://github.com/Nerajno/Trapper_Keeper-v1",
    website:"https://trapper-keepr.fly.dev/",
    description: "A Rails SPA app that helps the user create a CRUD-style address book containing their friends.",
    image: {
      src: "https://images.pexels.com/photos/27776677/pexels-photo-27776677/free-photo-of-uluyayla.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
      alt: "Project 1",
      link: "https://github.com/Nerajno/Trapper_Keeper-v1",
    },
    tags: [
      "Rails",
      "CRUD",
      "Ruby"
    ],
    lastUpdated: "2022-01-01",
  },
  {
    name: "Trapper Keeper",
    github: "https://github.com/Nerajno/Trapper_Keeper-v1",
    website:"https://trapper-keepr.fly.dev/",
    description: "A Rails SPA app that helps the user create a CRUD-style address book containing their friends.",
    image: {
      src: "https://images.pexels.com/photos/27776677/pexels-photo-27776677/free-photo-of-uluyayla.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
      alt: "Project 1",
      link: "https://github.com/Nerajno/Trapper_Keeper-v1",
    },
    tags: [
      "Rails",
      "CRUD",
      "Ruby"
    ],
    lastUpdated: "2022-01-01",
  },
];
---

<Layout title="Projects">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Projects</Fragment>
      <Fragment slot="desc">
        Projects that have completed to atleast the mvp stage.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {completed_projects.map((item) => <Projectcard project={item} />)}
    </div>
  </Container>
</Layout>
