---
import { speakingData } from '../data/speakingData';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';

import Events from '@components/events.astro';

const testBirthday = new Date(2022, 11, 24);
console.log(testBirthday);
// const gridColumns = 3;
// Look into this also : https://scottwillsey.com/astro-templates-json/
---

<Layout title='Speaking'>
  <Container>
    <Sectionhead>
      <Fragment slot='title'>Speaking Engagements</Fragment>
      <Fragment slot='desc'>
        I have had the pleasure of speaking at the following events.
      </Fragment>
    </Sectionhead>
      <div class='flex flex-col gap-3 mx-auto max-w-4xl mt-16'>
        <p class='text-lg leading-relaxed text-slate-500'>
          ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laboriosam dolorum nulla cumque odio rem aut, impedit commodi illo,
          dignissimos iste laborum quibusdam maiores facilis voluptatem. Minus
          facilis magni totam ea!
        </p>
      </div>
      <div class='grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12'>
        <!-- {speakingData?.map((event) => <Events {...event} />)} -->
      </div>
  </Container>
</Layout>
