<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} <a href="https://twitter.com/nerajno" target="_blank"
    rel="noopener">Nerajno. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    <a href=""></a>Configured and modified by <a href="https://twitter.com/nerajno"
    target="_blank" rel="noopener" class="hover:underline">me</a>, but the source is</a>
    made  <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      here.
    </a>
  </p>
</footer>
