---
import { Picture } from "astro:assets";
import heroImage from "assets/Banner_for_site.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Image of Nerando"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Hi, I am Nerando
    </h1>
    <h2> </h2>
    <p class="text-medium mt-4 text-black-400 max-w-xl">

      I am software engineer currently working in the front-end in Vue and JavaScript space.
      Previously worked on the MERN stack with a little PM and DevOps skills thrown in.
      Outside of tech, I like to cook. I am currently learning from <a href="https://www.youtube.com/@FrenchGuyCooking" target="_blank" rel="noopener noreferrer"><strong></em><i>Alex</i></strong></a> and
      this <a href="https://tinyurl.com/yf57ymkr" target="_blank" rel="noopener noreferrer"><i><strong>book.</strong></i></a>
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://tinyurl.com/NerajnoLearning"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download"/>
        <!-- <Icon class="text-white w-5 h-5" name="quill:link-out" /> -->
        <!-- <Icon class="text-white w-5 h-5" name="bx bx-link-external" /> -->
        Currently Learning
      </Link>
      <Link
        style="outline"
        rel="noopener"
        href="https://tinyurl.com/ynfvwtbt"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         Currently Building
      </Link>
    </div>
  </div>
</main>
