---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/Banner_for_site.png",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = "Nerando's Portfolio";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/my_favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="This is a portfolio website of Nerando. It contains his projects, blogs, and other information."
      canonical={canonicalURL}
      twitter={{
        creator: "nerajno",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Nerando's Portfolio`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Nerando's Portfolio ~ Meme Image",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
